* {
    font-family: 'Poppins', sans-serif;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;


}

body {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/hero1.jpeg");
}

.container {
    width: 100%;
    height: 90vh;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 30%;
    height: 85%;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

.homeCard {
    width: 50%;
    height: 100%;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: white;
    color: #07056d;
    text-align: left;
}

.welcomeCard {
    padding: 10px 10px 10px 10px;
    width: 25%;
    align-content: center;
    align-items: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.card img {
    margin-top: 30px;
}

.form-control {
    width: 80%;
    margin: 6px 0;
    height: 50px;
    padding: 0 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px #07056d;
    font-size: 16px;
}

.page-input {
    width: 40%;
    margin: 6px 0;
    height: 30px;
    padding: 0 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px red;
    font-size: 16px
}

.updateAccount {
    text-align: center;
}

table {
    width: 80%;
}

table thead {
    font-size: 14px;
}

::placeholder {
    color: #000;
    font-size: 16px;
}

.form-outline {
    margin-bottom: 10px;
}

.menu {
}

.btn-primary {
    width: 80%;
    background: linear-gradient(89.69deg, #F39034 2.03%, #FF2727 99.73%);
    border: 1px solid #FFFFFF;
    margin: 15px 0 3px;
    height: 50px;
    font-size: 16px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
}

h4 {
    font-size: 40px;
    color: #FFFFFF;
}

h5 {
    font-size: 20px;
}

.mainPage {
    display: flex;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.nav {
    width: 65%;
    background-color: #07056d;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.nav a {
    display: block;
    padding: 8px;
    font-size: 30px;
}

.welcomeCard {
    background-color: #F39034;
    color: white;
    font-size: 15px;
    width: 25%;
}

.routeLink {
    font-size: 12px;
    text-decoration: none;
}


a {
    color: white;
    font-weight: bolder;
}

a.active {
    background-color: #07056d;
    color: white;

}

.errorText {
    color: #FF2727;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    font-width: bolder;
}

router-link {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}


li a {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;

}

.customPagination {
    cursor: pointer;
    border: 1px solid blue;
    padding: 10px 10px 10px 10px;
    color: black;
}

.customPaginationActive {
    cursor: pointer;
    border: 1px solid white;
    background-color: blue;
    color: white;
    padding: 10px 10px 10px 10px;
}

.footer {
    color: white;
    font-weight: bolder;
}

.h-custom {
    height: calc(100% - 73px);
}

.mainContent {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
}

@media (max-width: 700px) {

    .container {
        height: 80vh;

    }

    .card {
        width: 90%;
        height: 100%;
    }

    .homeCard {
        width: 90%;
        height: 100vh;
    }

    .card img {
        width: 150px;
        margin: 10px;
    }


}