<template>
  <div class="login">
    <div class="container-fluid h-custom">
      <div class="container">

        <div class="card">
          <div><img src="../assets/img/whitelogo.png">
            <h5>Sign In Here </h5>
          </div>
          <form>
            <div class="form-outline">
              <input type="email" id="form3Example3" class="form-control"
                     placeholder="Enter your email address" v-model="email"/>
              <label class="form-label" for="form3Example3"></label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                     placeholder="Enter password" v-model="password"/>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;" @click="login">Login
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                <router-link :to="{ name:'Register'}"
                             class="link-danger">Register
                </router-link>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  components: {},
  data() {
    return {
      email: '',
      password: '',
      errorEmail: '',
      errorPassword: '',
    }
  },
  methods: {
    async login() {
      const formData = {
        "email": this.email,
        "password": this.password
      }
      if (this.email == "") {
        this.errorEmail = 'Provide an email';
      } else if (this.password) {
        this.errorPassword = 'Provide a password';
      }
      try {
        const response = await axios.post(this.$store.state.url + "api/login", formData);
        if (response.status == 200) {
          localStorage.setItem("token", response.data.token);
          localStorage.setItem("user", response.data.id);
          this.$router.push("/home");
        }
      } catch (error) {
        this.errorMessage = error.response.data.message;

      }
    }
  }
}
</script>
