<template>
  <div class="register">
    <div class="container-fluid h-custom">
      <div class="container">

        <div class="card">
          <div><img src="../assets/img/whitelogo.png">
            <h5>Sign Up here </h5>
          </div>
          <div v-if="message.length">
            <h5>{{ message }}</h5>
          </div>
          <form v-else>
            <div class="form-outline">
              <label v-if="errorEmail" class="errorText">{{ errorEmail }}</label>
              <input type="email" id="form3Example3" class="form-control"
                     placeholder="Enter your email address" v-model="email"/>
              <label class="form-label" for="form3Example3"></label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <label v-if="errorPassword" class="errorText">{{ errorPassword }}</label>
              <input :type="passwordTye" id="form3Example4" class="form-control form-control-lg"
                     placeholder="Enter password" v-model="password" @input="password_check"/></div>

            <!-- Password input -->
            <div class="form-outline mb-3">


              <input :type="passwordTye" id="form3Example4" class="form-control form-control-lg"
                     placeholder="Confirm password" v-model="confirm_password"/>
              <br>
              <span @click="showPassword(1)" style="cursor: pointer;" v-if="show==1"><i class="fa fa-eye"></i> show password</span>
              <span @click="showPassword(2)" style="cursor: pointer;" v-if="show==2"><i class="fa fa-eye-slash"></i> hide password</span>

              <p class="frmValidation" :class="{'frmValidation--passed' : password.length > 7}"><i class="frmIcon fas" :class="password.length > 7 ? 'fa-check' : 'fa-times'"></i>
                Longer than 7 characters</p>
              <p class="frmValidation"  :class="{'frmValidation--passed' :has_uppercase }"><i class="frmIcon fas" :class="has_uppercase ? 'fa-check' : 'fa-times'"></i>
                Has a capital letter</p>
              <p class="frmValidation" :class="{'frmValidation--passed' :has_lowercase }"><i class="frmIcon fas" :class="has_lowercase ? 'fa-check' : 'fa-times'"></i>
                Has a lowercase letter</p>
              <p class="frmValidation" :class="{'frmValidation--passed' : has_number }"><i class="frmIcon fas" :class="has_number ? 'fa-check' : 'fa-times'"></i>
                Has a number</p>
              <p class="frmValidation" :class="{'frmValidation--passed' : has_special }"><i class="frmIcon fas" :class="has_special ? 'fa-check' : 'fa-times'"></i>
                Has a special character</p>
            </div>


            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary" @click="register">
                Register
              </button>

              <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?
                <router-link :to="{ name:'Login'}"
                             class="link-danger">Login
                </router-link>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>


import axios from "axios"

export default {
  components: {},
  computed: {},
  data() {
    return {
      message: '',
      email: '',
      password: '',
      passwordTye: 'password',
      confirm_password: '',
      errorEmail: '',
      errorPassword: '',
      errorMessage: '',
      show: 1,
      has_number: false,
      has_lowercase: false,
      has_uppercase: false,
      has_special: false,
      disable: '',
      capitalLetter: this.has_uppercase,

    }
  },
  created() {
  },
  methods: {
    password_check() {
      this.has_number = /\d/.test(this.password);
      this.has_lowercase = /[a-z]/.test(this.password);
      this.has_uppercase = /[A-Z]/.test(this.password);
      this.has_special = /[!@#/$%/^/&*/)/(+=._-]/.test(this.password);
    },
    showPassword(value) {
      if (value == 1) {
        this.passwordTye = 'text';
        this.show = 2;
      } else {
        this.passwordTye = 'password';
        this.show = 1;
      }

    },

    async register() {
      const formData = {
        "email": this.email,
        "password": this.password,
      }
      if (this.email == '') {
        this.errorEmail = 'Email cannot be empty';
      } else if (this.password.length < 8) {
        this.errorPassword = 'Password must be more 8 character'
      } else if (this.confirm_password != this.password) {
        this.errorPassword = 'Password does not match'
      } else {
        try {
          const response = await axios.post(this.$store.state.url + "api/register", formData);
          if (response.status == 200) {
            localStorage.setItem("token", response.data.token);
            localStorage.setItem("user", response.data.id);

            this.$router.push("/home");

            this.message = 'Congratulations, your registration was successful';

          }
        } catch (error) {
          this.errorMessage = error.response.data.message;
        }
      }
    }
  }
}
</script>
