<template>
  <div>
    <div class="mainPage">
      <div class="nav">
        <ul>
          <li><img src="../assets/img/whitelogo.png" style="width: 100px;"></li>
          <li>
            <router-link :to="{ name:'Home'}" style="font-size: 13px; text-decoration: none;"><i class="fa fa-bars"></i>
              Dashboard
            </router-link>
          </li>
          <li>
            <router-link :to="{ name:'Account'}" style="font-size: 13px; text-decoration: none;"><i
                class="fa fa-user"></i> My Account
            </router-link>
          </li>
          <li>
            <router-link :to="{ name:'Users'}" style="font-size: 13px; text-decoration: none;"><i
                class="fa fa-users"></i> Users
            </router-link>
          </li>

          <li> Time left: {{ timerCount }}mins</li>
          <li>Current Location:</li>
        </ul>
      </div>
      <div class="welcomeCard">
        <ul>
          <li> {{ firstName }} {{ lastName }} <img :src=image class="avatar"><br><span @click="logout"
                                                                                    style="cursor: pointer"><i class="fas fa-sign-out-alt"></i>Log Out</span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import swal from 'sweetalert';

export default {
  components: {},
  computed: {},
  data() {
    return {
      user: JSON.parse(localStorage.getItem('user')) ? JSON.parse(localStorage.getItem('user')) : null,
      firstName: '',
      lastName: '',
      image: '',
      loginEmail: '',
      timerCount: 10,
      notification: '',

    }
  },
  watch: {
    timerCount: {
      handler(value) {
        if (value > 0) {
          setTimeout(() => {
            this.timerCount--;
          }, 10 * 1300);
        }
        if (value == 5) {
          swal({
            title: 'Your session is about to expire!',
            text: 'Your session will expire in 5 minutes, you can carry on or end your session.',
            icon: 'error',
            buttons: {
              cancel: {
                text: "No, logout!",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
              },
              confirm: {
                text: "Keep me signed in.",
                value: true,
                visible: true,
                className: "",
                closeModal: true
              }
            }
          }).then(okay => {
            if (okay) {
              axios.post('session');
              this.timerCount = '';
              this.timerCount = 10;
            } else {
              axios.post('session/logout');
              window.location = '/';
            }

          });
        }
      },
      immediate: true
    }
  },
  created() {
    this.getUser();
    this.locatorButtonPressed();
    this.getStreetAddressFrom();
  },
  methods: {
    async getUser() {
      const user = JSON.parse(localStorage.getItem("user"));
      const local_token = localStorage.getItem('token');
      const response = await axios.get(this.$store.state.url + "api/users/" + user, {
        headers: {
          'Authorization': `Bearer ${local_token}`
        }
      });
      this.firstName = response.data.data.first_name;
      this.lastName = response.data.data.last_name;
      this.image = response.data.data.avatar;
      this.loginEmail = response.data.data.email;
    },

    locatorButtonPressed() {
      navigator.geolocation.getCurrentPosition(
          position => {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
          },
          error => {
            console.log(error.message);
          },
      )
    },
    async getStreetAddressFrom(lat, long) {
      try {
        var {data} = await axios.get(
            "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
            lat +
            "," +
            long +
            "&key={yourAPIKey}"
        );
        if (data.error_message) {
          console.log(data.error_message)
        } else {
          this.address = data.results[0].formatted_address;
        }
      } catch (error) {
        console.log(error.message);
      }
    },
    async logout() {
      localStorage.removeItem('user');
      localStorage.removeItem('token');
      this.$router.push("/");
    }

  }

}
</script>