<template>
  <div id="home">
    <div class="container-fluid h-custom">
      <div class="container">

        <div class="homeCard">
          <NavBar/>
          <div class="mainContent">
            <div class="updateAccount">
              <h5>Update my account details</h5>

              <div class="form-outline">
<label>First Name</label>
                <input type="email" id="form3Example3" class="page-input"
                       placeholder="Enter your email address" v-model="firstName"/>
                <label class="form-label" for="form3Example3"></label>
              </div>
              <div class="form-outline">
<label>Last Name</label>
                <input type="email" id="form3Example3" class="page-input"
                       placeholder="Enter your email address" v-model="lastName"/>
                <label class="form-label" for="form3Example3"></label>
              </div>
              <div class="form-outline">
<label>Email Address</label>
                <input type="email" id="form3Example3" class="page-input"
                       placeholder="Enter your email address" v-model="loginEmail"/>
                <label class="form-label" for="form3Example3"></label>
              </div>

              <div class="form-outline">
<label>Password</label>
                <input type="password" id="form3Example3" class="page-input"
                       placeholder="Enter your email address" v-model="password"/>
                <label class="form-label" for="form3Example3"></label>
              </div>
              <div class="form-outline">
                <label>Select Image</label>
                <img :src=image class="avatar">
                <input type="file" id="form3Example3" class="page-input"/>
                <label class="form-label" for="form3Example3"></label>
              </div>
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary" @click="register">
                  Update Account
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import NavBar from '@/components/nav'
import axios from "axios";

export default {
  components: {
    NavBar,
  },
  computed: {},
  data() {
    return {
      firstName: '',
      lastName: '',
      image: '',
      loginEmail: '',
      password: '*****************'
    }
  },

  created() {
    this.getUser();
  },
  methods: {
    async getUser() {
      const user = JSON.parse(localStorage.getItem("user"));
      const local_token = localStorage.getItem('token');
      const response = await axios.get(this.$store.state.url + "api/users/" + user, {
        headers: {
          'Authorization': `Bearer ${local_token}`
        }
      });
      this.firstName = response.data.data.first_name;
      this.lastName = response.data.data.last_name;
      this.image = response.data.data.avatar;
      this.loginEmail = response.data.data.email;
    },
  }
}
</script>