<template>
  <div id="home">
    <div class="container-fluid h-custom">
      <div class="container">

        <div class="homeCard">
          <NavBar/>
          <div class="mainContent">
            <div class="updateAccount" style="align-content: center;">
              <h5>Update User</h5>
              <div class="form-outline">
                <label>First Name</label>
                <input type="email" id="form3Example3" class="page-input"
                       placeholder="Enter your email address" v-model="firstName"/>
                <label class="form-label" for="form3Example3"></label>
              </div>
              <div class="form-outline">
                <label>Last Name</label>
                <input type="email" id="form3Example3" class="page-input"
                       placeholder="Enter your email address" v-model="lastName"/>
                <label class="form-label" for="form3Example3"></label>
              </div>


              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary">
                  Update User
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import NavBar from '@/components/nav'
import axios from "axios";

export default {
  components: {
    NavBar,
  },
  computed: {},
  data() {
    return {
      firstName: '',
      lastName: '',

    }
  },

  created() {
    this.getUser();

  },
  methods: {
    async getUser() {
      const local_token = localStorage.getItem('token');
      const response = await axios.get(this.$store.state.url + "api/users/" + this.$route.params.id, {
        headers: {
          'Authorization': `Bearer ${local_token}`
        }
      });
      this.firstName = response.data.data.first_name;
      this.lastName = response.data.data.last_name;
      this.image = response.data.data.avatar;
      this.loginEmail = response.data.data.email;
    },



  }
}
</script>