<template>
  <div id="home">
    <div class="container-fluid h-custom">
      <div class="container">

        <div class="homeCard">
          <NavBar/>
          <div class="mainContent">

            <h4 style="text-align: center; color: #07056d">Welcome  {{ firstName }}!</h4>
            <h5 style="text-align: center; color: #F39034">Today is {{ new Date().toLocaleString() }} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import NavBar from '@/components/nav'
import axios from "axios";

export default {
  components: {
    NavBar,
  },
  computed: {},
  data() {
    return {
      firstName: '',
      lastName: '',
      image: '',
    }
  },

  created() {
    this.getUser();
  },
  methods: {
    async getUser() {
      const user = JSON.parse(localStorage.getItem("user"));
      const local_token = localStorage.getItem('token');
      const response = await axios.get(this.$store.state.url + "api/users/" + user, {
        headers: {
          'Authorization': `Bearer ${local_token}`
        }
      });
      this.firstName = response.data.data.first_name;
      this.lastName = response.data.data.last_name;
      this.image = response.data.data.avatar;
      this.loginEmail = response.data.data.email;
    },
  }
}
</script>