<template>
  <div id="home">
    <div class="container-fluid h-custom">
      <div class="container">

        <div class="homeCard">
          <NavBar/>
          <div class="mainContent">
            <div class="updateAccount" style="align-content: center;">
              <h5>Create A User</h5>
              <span v-if="message.length" class="text-success">{{ message }}</span>
              <div class="form-outline">
                <span v-if="errorName.length" class="errorText">{{ errorName }}</span>
                <input type="email" id="form3Example3" class="page-input"
                       placeholder="Enter Full Name" v-model="name"/>
                <label class="form-label" for="form3Example3"></label>
              </div>
              <div class="form-outline">
                <span v-if="errorJob.length" class="errorText">{{ errorJob }}</span>
                <input type="email" id="form3Example3" class="page-input"
                       placeholder="Enter Job Title" v-model="job"/>
                <label class="form-label" for="form3Example3"></label>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary" @click="createUser">
                  Create User
                </button>
              </div>
              <div style="text-align: center;">
                <table class="table table-bordered" style="margin:0 auto;">
                  <thead>
                  <tr>
                    <th>Avatar</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>

                <tbody>
                  <tr v-for="listUser in listUsers" v-bind:key="listUser.id">
                    <td><img :src=listUser.avatar class="avatar"></td>
                    <td>{{ listUser.first_name }} {{ listUser.last_name }}</td>
                    <td>{{ listUser.email }}</td>
                    <td>              <router-link :to="{ name: 'EditUser', params: { id: listUser.id }}" style="color: #F39034;">
                      <i class="fa fa-edit"></i></router-link></td>
                    <td><span @click="deleteUser(listUser.id)" style="cursor: pointer; color: red;"><i class="fa fa-trash"></i></span></td>


                    <td></td>

                  </tr>
                </tbody>
                </table>
                <p style="text-align: center;"><span @click="listUser(1)" class="customPaginationActive">1</span>
                  <span @click="listUser(2)" class="customPaginationActive">2</span></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import NavBar from '@/components/nav'
import axios from "axios";

export default {
  components: {
    NavBar,
  },
  computed: {},
  data() {
    return {
      name: '',
      job: '',
      errorName: '',
      errorJob: '',
      message: '',
      listUsers: [],
      page: '',
  }
  },

  created() {
    this.getUser();
    this.listUser();
  },
  methods: {
    async getUser() {
      const user = JSON.parse(localStorage.getItem("user"));
      const local_token = localStorage.getItem('token');
      const response = await axios.get(this.$store.state.url + "api/users/" + user, {
        headers: {
          'Authorization': `Bearer ${local_token}`
        }
      });
      this.firstName = response.data.data.first_name;
      this.lastName = response.data.data.last_name;
      this.image = response.data.data.avatar;
      this.loginEmail = response.data.data.email;
    },

    async createUser() {
      const formData = {
        "name": this.name,
        "job": this.job,
      }
      if (this.name == "") {
        this.errorName = 'Enter Full Name';
      } else if (this.job == "") {
        this.errorJob = 'Enter Job Title'
      }
      try {
        const local_token = localStorage.getItem('token');
        const response = await axios.post(this.$store.state.url + "api/users/", formData, {
          headers: {
            'Authorization': `Bearer ${local_token}`
          }
        });
        if (response.status == 201)
          this.message = 'User created successfully';

      } catch (error) {
        this.errorMessage = error.response.data.message;
      }
    },

    async listUser(page) {
      const local_token = localStorage.getItem('token');
      const response = await axios.get(this.$store.state.url + "api/users?page=" + page, {
        headers: {
          'Authorization': `Bearer ${local_token}`
        }
      });
      this.listUsers = response.data.data;

    },

    async deleteUser(value){
      const local_token = localStorage.getItem('token');
      const response = await axios.delete(this.$store.state.url + "api/users/" + value, {
        headers: {
          'Authorization': `Bearer ${local_token}`
        }
      });
      if(response.status==204){
        this.message='User deleted successfully';
        await this.listUser();
      }
    }

  }
}
</script>